<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>MediaGame</title>
</head>
<body>
    <div id="app" class="container">

        <header class="header">
            <h1 class="header__title">MediaGame</h1>
        </header>

        <section class="login" v-if="screen==0">
            <form action="landing.html" class="login__form">
                <input class="login-form__input" type="text" placeholder="Mobile number or email">
                <input class="login-form__input" type="password" placeholder="Password">

                <button class="login-form__btn" type="submit">Log in</button>
            </form>

            <a href="#" class="login__forgotPsswrd">Forgot password?</a>

            <div class="login__divider">
                <div class="login-divider__line"></div>
                <p class="login-divider__text">or</p>
                <div class="login-divider__line"></div>
            </div>


            <button class="login__register-btn" @click="changeScreen(1)">Create new account</button>
            <a href="home.html">PAGINA HOME</a>

        </section>

        <section class="register" v-if="screen == 1">
            <form @submit.prevent="registerUser" class="login__form">
                <input class="login-form__input" type="text" placeholder="Username">
                <input class="login-form__input" type="text" placeholder="Mobile number or email">
                <input class="login-form__input" type="password" placeholder="Password">

                <button class="login-form__btn" type="submit">Register</button>
            </form>


            <div class="login__divider">
                <div class="login-divider__line"></div>
                <p class="login-divider__text">or</p>
                <div class="login-divider__line"></div>
            </div>


            <button class="login__register-btn" @click="changeScreen(0)">Log in</button>
            <a href="home.html">PAGINA HOME</a>
        </section>

    </div>


    <script src="js/main.js" type="module"></script>
</body>
</html>