:root{
    --color-principal: #0866ff;
    --color-white: #fff;
    --color-grey: #b0b3b8;
    --color-lightGrey: #f0f2f5;
    --color-icons:#868686;
    --color-darkGrey: #555555;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
button{
    background-color: none;
    border: none;
    cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */
.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header__first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.header__title{
    font-size: 26px;
    font-weight: bold;
    color: var(--color-principal);
}
.header__icons{
    display: flex;
    gap: 15px;
}
.header__icon{
    background-color: #f0f2f5;
    padding: 5px;
    border-radius: 50%;
}

/* ----------------------------------- nav ---------------------------------- */
.header__nav{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--color-grey);
}
.nav__icon{
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 12px;
    fill: var(--color-icons);
    border: 1px solid var(--color-lightGrey);
}
.active{
    fill: var(--color-principal);
}

/* -------------------------------------------------------------------------- */
/*                                  USER POST                                 */
/* -------------------------------------------------------------------------- */
.user-post{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    padding: 0 5px;
}
.user-post__profile{
    width: 45px; /* 13% */
    height: 45px; /* 13% */
    border-radius: 50%;
}
.user-post__text{
    width: 65%;
    text-align: left;
    padding: 10px 0;
    padding-left: 20px;
    border-radius: 20px;
    background-color: var(--color-lightGrey);
    font-size: 16px;
}
.photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.photo__img{
    font-size: 26px;
    fill: #45bd62;
}
.photo__text{
    font-size: 12px;
}

/* -------------------------------------------------------------------------- */
/*                                    STORY                                   */
/* -------------------------------------------------------------------------- */
.story{
    width: 100vw;
    height: 220px;
    display: flex;
    align-items: center;
    padding: 6px 0;
    padding-left: 10px;
    border-top: 3px solid var(--color-grey);
    border-bottom: 6px solid var(--color-grey);
    gap: 10px;
}
.story__card{
    width: 110px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey);
}
.card-user__img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.card-user__addBtn{
    display: inline;
}
.card__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card__text{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.card-user__addBtn{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 53%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--color-principal);
    fill: var(--color-white);
    font-size: 36px;
    padding: 5px;
    border-radius: 50%;
    border: 3px solid var(--color-white);
}
.card-user__text{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 8px;
    font-size: 16px;
    font-weight: 700;
}
.card__num{
    position: absolute;
    width: 25px;
    left: 7px;
    top: 7px;
    background-color: var(--color-principal);
    color: var(--color-white);
    padding: 4px 6px;
    border-radius: 3px;
    text-align: left;
    font-size: 13px;
    font-weight: 700;
}

/* -------------------------------------------------------------------------- */
/*                                    POSTS                                   */
/* -------------------------------------------------------------------------- */
.posts{
    display: flex;
    flex-direction: column;
}

.post{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.post__profile{
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid var(--color-lightGrey);
}
.profile__text{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.profile__top{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.top__name{
    font-weight: 700;
}
.top__settings{
    fill: var(--color-icons);
}
.bottom__date{
    color: var(--color-icons);
    font-size: 14px;
}
.bottom__earth{
    fill: var(--color-icons);
    font-size: 14px;
}
.profile__img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile__bottom{
    display: flex;
    gap: 5px;
    align-items: center;
}

.dot{
    width: 2px;
    height: 2px;
    background-color: var(--color-grey);
}

.post__description{
    padding: 3px 10px 10px 10px;
}

.post__likes{
    display: flex;
    margin-top: 5px;
    margin-left: 10px;
}
.likes__icon{
    padding: 3px;
    font-size: 18px;
    border-radius: 50%;
    fill: var(--color-white);
}

.icon__like{
    background-color: var(--color-principal);
}
.icon__heart{
    background-color: red;
}

.post__options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    margin-top: 5px;
}
.options{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-lightGrey);
    gap: 5px;
    padding: 10px 0;
    border-radius: 20px;
    margin: 0 10px;
    color: var(--color-darkGrey);
    fill: var(--color-darkGrey);
}
.options__icon{
    font-size: 22px;
}
.options_text{
    font-size: 16px;
}